In [1]:
# Pandas
import pandas as pd
# SQL Alchemy
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/SQL_HomeWork')
conn = engine.connect()

In [3]:
salaries = pd.read_sql("SELECT * FROM Salaries", conn)

ProgrammingError: (psycopg2.ProgrammingError) relation "salaries" does not exist
LINE 1: SELECT * FROM Salaries
                      ^

[SQL: SELECT * FROM Salaries]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.

In [ ]:
#Create a bar chart of average salary by title.